<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование пользователя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container nt-5 mb-5">
    <h1>Редактирование пользователя</h1>
    <div th:each="el : ${user}">
        <form method="post">
            <input type="text" th:value="${el.username}" name="username" class="form-control"><br>
            <div th:each="role : ${roles}">
                <input type="checkbox" th:name="${role}" th:value="${role}">
                <label th:text="${role}"/>
            </div>
            <input type="hidden" th:value="${el.id}" name="userId" class="form-control"><br>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>

</body>
</html>